
body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #636466;
    background-color: #fff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #004f93;
    text-decoration: none;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

    a:hover,
    a:focus {
        color: #1fC1E2;
        text-decoration: none;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.em {
    font-style: italic;
}

h1 {
    font-size: 34px;
    font-family: "proxima-light", Helvetica, sans-serif;
    text-transform: uppercase;
}



h2 {
    font-size: 24px;
    color: #000;
}

h3 {
    font-size: 20px;
    color: #000;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}



.navbar {
    background: #fff;
}

#bss-logo a {
    width: 272px;
    height: 63px;
    background: #fff url('../images/logo.jpg');
    text-indent: -9999px;
    margin: 10px 0 20px 0;
}

.bss-cta h2, .bss-cta h3 {
    color: #000;
}

.nav, h2, h3 {
    text-transform: uppercase;
}

.nav {
    margin: 21px;
    float: right;
}


.bss-cta {
    text-align: center;
    padding: 25px 0;
}

.home h2 {
    text-align: center;
}

.bss-about {
    background: #999 url('../images/bg-about.jpg') repeat-x;
    padding: 20px 0;
}

.bss-testimonials {
    background: #2cbcbb url('../images/bg-testimonials.jpg') repeat-x;
    padding: 20px 0;
    background-size: contain;
}




.btn {
    display: inline-block;
    padding: 15px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 2px;
    font-family: 'proxima-reg', helvetica, arial, sans-serif;
    text-transform: uppercase;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #2cbcbb 50%, #004f93 50%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


    .btn:focus,
    .btn:active:focus,
    .btn.active:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn:hover,
    .btn:focus {
        color: #fff;
        text-decoration: none;
        background-position: -100% 0;
    }

    .btn:active,
    .btn.active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }





.btn-lg,
.btn-group-lg > .btn {
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.33;
    border-radius: 2px;
    color: #484848;
    background-image: linear-gradient(to right, #fff 50%, #2cbcbb 50%);
}











/***************** CAROUSEL *****************/


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: url('../images/overlay.png') top right no-repeat;
    background-size: cover;
    text-indent: -9999px;
    display: block;
    height: 100%;
}



.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

    .carousel-inner > .item {
        position: relative;
        display: none;
        -webkit-transition: .6s ease-in-out left;
        -moz-transition: .6s ease-in-out left;
        -o-transition: .6s ease-in-out left;
        transition: .6s ease-in-out left;
    }

        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            line-height: 1;
        }

    .carousel-inner > .active,
    .carousel-inner > .next,
    .carousel-inner > .prev {
        display: block;
    }

    .carousel-inner > .active {
        left: 0;
    }

    .carousel-inner > .next,
    .carousel-inner > .prev {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-inner > .next {
        left: 100%;
    }

    .carousel-inner > .prev {
        left: -100%;
    }

        .carousel-inner > .next.left,
        .carousel-inner > .prev.right {
            left: 0;
        }

    .carousel-inner > .active.left {
        left: -100%;
    }

    .carousel-inner > .active.right {
        left: 100%;
    }

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}


    .carousel-control.left {
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .5) 0%), color-stop(rgba(0, 0, 0, .0001) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0%), color-stop(rgba(0, 0, 0, .5) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }

    .carousel-control:hover,
    .carousel-control:focus {
        color: #fff;
        text-decoration: none;
        filter: alpha(opacity=90);
        outline: none;
        opacity: .9;
    }

    .carousel-control .icon-prev,
    .carousel-control .icon-next,
    .carousel-control .fa-chevron-left,
    .carousel-control .fa-chevron-right {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    .carousel-control .icon-prev,
    .carousel-control .fa-chevron-left {
        left: 50%;
    }

    .carousel-control .icon-next,
    .carousel-control .fa-chevron-right {
        right: 50%;
    }

    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        font-family: serif;
    }

        .carousel-control .icon-prev:before {
            content: '\2039';
font-family: FontAwesome;
        }

        .carousel-control .icon-next:before {
            content: '\203a';
font-family: FontAwesome;
        }

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
 
        text-indent: -999px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 10px;
		transition: all .3s ease;
		opacity: .5;
    }

    .carousel-indicators .active {
        width: 10px;
        height: 10px;
   opacity: 1;
        background-color: #2dbfbe;
    }

.carousel-caption {
    position: absolute;
    bottom: 120px;
    left: 55%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    width: 400px;
}

    .carousel-caption .btn {
        text-shadow: none;
    }

@media screen and (min-width: 768px) {


    #carousel-02 .carousel-control .fa-chevron-left,
    #carousel-02 .carousel-control .fa-chevron-right,
    #carousel-02 .carousel-control .icon-prev,
    #carousel-02 .carousel-control .icon-next {
    }





    .carousel-control .fa-chevron-left,
    .carousel-control .fa-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }

    .carousel-caption {
        left: 55%;
        padding-bottom: 30px;
    }

    .carousel-indicators {
        bottom: 20px;
    }
}



#carousel-02 p {
    color: #fff;
    max-width: 850px;
    display: block;
    margin: 20px auto;
    text-align: center;
}


.caro2control {
    width: 200px;
    margin: 10px auto 30px auto;
    padding-bottom: 30px;
}

#carousel-02 .carousel-control.left {
    background: none;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0;
    font-size: 30px;
    display: inline-block;
    float: left;
}

#carousel-02 .carousel-control.right {
    background: none;
    width: 30px;
    height: 30px;
    position: relative;
    margin: -1px 0 0 0;
    font-size: 30px;
    display: inline-block;
    float: right;
}




.carousel-caption p {
    font-size: 16px;
    display: block;
    width: 350px;
    margin-bottom: 20px;
}

.carousel-caption h1 {
    margin-bottom: 0;
}











/***************************** CONTENT *****************************/




.bss-cta .col-md-4 {
    border-right: 1px solid #dedede;
}

    .bss-cta .col-md-4:last-child {
        border-right: 0;
    }

.bss-about img {
    margin: 0 auto 25px auto;
    display: block;
}

.bss-plan {
    text-align: center;
    margin: 10px auto 0 auto;
}

    .bss-plan a {
        color: #2cbcbb;
        -moz-transition: color .3s ease;
        -o-transition: color .3s ease;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }

        .bss-plan a:hover {
            color: #004f93;
            text-decoration: none;
        }

    .bss-plan p {
        max-width: 450px;
        margin: 25px auto;
    }

.bss-row {
    margin-left: 0;
    margin-right: 0;
}

.bss-tight {
    padding: 0;
    overflow: hidden;
}

.bss-tight a {
	color: #000;
}

.bss-slide-up {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #fff;
}


    .bss-slide-up p {
        text-align: left;
        padding: 10px 20px;
        margin: 0;
        color: #000;
    }

        .bss-slide-up p:after {
            content: '\f054';
font-family: FontAwesome;
            color: #2dbfbe;
            float: right;
            padding-right: 20px;
        }


.bss-icon-box i {
    color: #004f93;
    font-size: 45px;
    padding: 30px 32px;
    display: inline-block;
    border-radius: 100px;
    border: 5px solid #004f93;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 120px;
    width: 120px;
    line-height: 50px;
}


    .bss-icon-box i:hover {
        color: #2dbfbe;
        border: 5px solid #2dbfbe;
    }

.bss-icon-box p {
	max-width: 280px;
	margin: 0 auto;
}
.second i {
    font-size: 45px;
}

.test-icon {
    font-size: 35px;
    color: #fff;
    display: block;
    margin: 20px auto 0 auto;
    width: 45px;
}


.bss-social i {
    display: block;
    float: left;
    color: #fff;
}











/***************************** FOOTER *****************************/

#bss-footer-logo {
    float: left;
    margin-right: 25px;
}

.bss-footer {
    background: #001b32;
    padding: 25px 0;
}


    .bss-footer ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .bss-footer .bss-footer-links ul li {
            float: left;
            margin-right: 25px;
        }

.bss-footer-links  {
    float: left;
    display: block;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
   
}

    .bss-footer .bss-footer-links ul li a {
        color: #fff;
		 font-size: 16px;
		 transition: color .3s ease;
    }

        .bss-footer .bss-footer-links ul li a:hover {
            color: #3fd783;
			text-decoration: none;
        }

		 .bss-footer .bss-footer-links p {
			 font-size: 11px;
			 color: #274d6e;
		 }

		 .bss-footer .bss-footer-links a {
			 font-size: 11px;
			 color: #fff;
		 }
            .bss-footer .bss-footer-links a:hover {
            color: #3fd783;
			}

ul.social {
    overflow: auto;
	margin-left: 50px;
}

    ul.social li {
        list-style-type: none;
        float: left;
		margin-right: 10px;
    }

	         .social i {
                  
color: #fff;
font-size: 20px;
padding: 20px 20px;
display: inline-block;
border-radius: 100px;
border: 1px solid #fff;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
-webkit-transition: all .3s ease;
transition: all .3s ease;
height: 40px;
width: 40px;
line-height: 3px;

                    }


                    .social i:before {
                        margin-left: -8px;
                    }

                .social i:hover {
                color: #3fd783;
				border-color: #3fd783;
                }


				.caret {
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid #fff;
				position: absolute;
				margin: 0 0 0 -20px;
				z-index: 999;
				padding-right: 0px;
				display: inline-block;
				}





/* SCROLL TO TOP */

a.scroll-to-top.visible {
	filter: alpha(opacity=50);
	opacity: .5;
}
a.scroll-to-top {
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	background: #404040;
	bottom: 0px;
	color: #FFF;
	display: block;
	opacity: 0;
	padding: 10px 0 15px;
	position: fixed;
	right: 50px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	width: 50px;
	z-index: 1040;
}




















